In [2]:
import pandas as pd 
import mysql.connector
import numpy as np

'''df_buses_1=pd.read_csv('df_buses_1.csv')
df_buses_2=pd.read_csv('df_buses_2.csv')
df_buses_3=pd.read_csv('df_buses_3.csv')
df_buses_4=pd.read_csv('df_buses_4.csv')
df_buses_5=pd.read_csv('df_buses_5.csv')
df_buses_6=pd.read_csv('df_buses_6.csv')
df_buses_7=pd.read_csv('df_buses_7.csv')
df_buses_8=pd.read_csv('df_buses_8.csv')
df_buses_9=pd.read_csv('df_buses_9.csv')
df_buses_10=pd.read_csv('df_buses_10.csv')
                    
final_df= pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,
                     df_buses_6,df_buses_7,df_buses_8,df_buses_9,df_buses_10],index=True)'''

"df_buses_1=pd.read_csv('df_buses_1.csv')\ndf_buses_2=pd.read_csv('df_buses_2.csv')\ndf_buses_3=pd.read_csv('df_buses_3.csv')\ndf_buses_4=pd.read_csv('df_buses_4.csv')\ndf_buses_5=pd.read_csv('df_buses_5.csv')\ndf_buses_6=pd.read_csv('df_buses_6.csv')\ndf_buses_7=pd.read_csv('df_buses_7.csv')\ndf_buses_8=pd.read_csv('df_buses_8.csv')\ndf_buses_9=pd.read_csv('df_buses_9.csv')\ndf_buses_10=pd.read_csv('df_buses_10.csv')\n                    \nfinal_df= pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,\n                     df_buses_6,df_buses_7,df_buses_8,df_buses_9,df_buses_10],index=True)"

Data cleaning

In [ ]:
final_df['Price']=final_df['Price'].str.replace('INR','')

final_df['Price']=final_df['Price'].astype(float)

final_df['Price'].fillna(0)

In [ ]:
final_df['Rating']=final_df['Rating'].str.replace('new','')
final_df['Rating']=final_df['Rating'].str.striP()
final_df['Rating']=final_df['Rating'].str.split.str[0]
final_df['Rating']=pd.to_numeric(final_df['Rating'],errors='coerce')
final_df['Rating'].fillna(0)

In [ ]:
final_df=final_df[final_df['Price']<=7000]


final_df=final_df.replace(np.nan:None)

path ="c:\Users\loges\Desktop\python\sample projects\redbus\final_bus_details.csv"

Create a mysql database

In [ ]:
conn=mysql.connector.connect(host='localhost',username='root',password='1234',database='redbus')
cursor=conn.cursor()
cursor.execute(''' create table if nor exists bus_details(
               ID INT AUTO_INCREMENT PRIMARY KEY,
               Bus_Name VARCHAR(255) NOT NULL,
               Bus_Type varchar(255) NOT NULL,
               Start_time VARCHAR(255) NOT NULL,
               End_Time VARCHAR NOT NULL),
               Total_Duration varchar(255) NOT NULL
               Price float null,
               Seats_available varchar(255) NOT NULL,
               Rating float null ,
               Route_link(255) not null,
               Route_Name VARCHAR(255) NOT NULL)''')

In [ ]:
insert_query = '''INSERT INTO bus_details (Bus_name,Bus_type,Start-time,End_time,Total_Duration,
               Price,Seats_available,Rating,Route_link,Route_name)
               VALUES(%s,%s,%s,%s,%s,%s,%s,%s,)'''

data = final_df.values.tolist()
cursor.executemany(insert_query, data)
conn.commit()
print(f"{cursor.rowcount} rows inserted successfully.")