In [25]:
import pandas as pd 
import mysql.connector
import numpy as np

df_buses_1=pd.read_csv(r'data\bus_details\bus_details_kl.csv')
df_buses_2=pd.read_csv(r'data\bus_details\bus_details_ap.csv')
df_buses_3=pd.read_csv(r'data\bus_details\bus_details_as.csv')
df_buses_4=pd.read_csv(r'data\bus_details\bus_details_hp.csv')
df_buses_5=pd.read_csv(r'data\bus_details\bus_details_kb.csv')
df_buses_6=pd.read_csv(r'data\bus_details\bus_details_rs.csv')
df_buses_7=pd.read_csv(r'data\bus_details\bus_details_sb.csv')
df_buses_8=pd.read_csv(r'data\bus_details\bus_details_tl.csv')
df_buses_9=pd.read_csv(r'data\bus_details\bus_details_up.csv')
df_buses_10=pd.read_csv(r'data\bus_details\bus_details_wb.csv')
                    
final_df = pd.concat([df_buses_1, df_buses_2, df_buses_3, df_buses_4, df_buses_5,
                      df_buses_6, df_buses_7, df_buses_8, df_buses_9, df_buses_10]).reset_index(drop=True)

In [36]:
final_df

,BusName,BusType,StartTime,EndTime,Rating,Price,TotalDuration,SeatsAvailable,RouteName,Links
0,MMK Travels,A/C Seater / Sleeper (2+1),22:30,07:30,4.4,700.0,9h,12 Seats,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
1,SKS Tours & Travels,A/C Sleeper (2+1),21:15,05:45,4.5,899.0,8h 30m,11 Seats,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
2,SAAM BUS,VE A/C Sleeper (2+1),21:45,06:45,4.1,850.0,9h,8 Seats,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
3,Suraj Holidays,NON A/C Seater/ Sleeper (2+1),20:30,06:00,2.8,600.0,9h 30m,9 Seats,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
4,NS Transports,NON A/C Semi Sleeper / Sleeper (2+1),22:15,06:30,4.0,699.0,8h 15m,10 Seats,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
...,...,...,...,...,...,...,...,...,...,...
972,Aitiana Airwings,A/C Seater/Sleeper (2+1),20:30,00:20,4.0,650.0,3h 50m,23 Seats,Kolkata to Durgapur (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-d...
973,Maharani Express,NON A/C Seater / Sleeper (2+2),17:00,20:30,2.0,675.0,3h 30m,10 Seats,Kolkata to Durgapur (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-d...
974,Lokenath Bus Service,Volvo Multi Axle B11R AC Seater\Sleeper (2+1),18:00,21:30,2.9,450.0,3h 30m,42 Seats,Kolkata to Durgapur (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-d...
975,Pariwartan Bus Service,NON A/C Seater / Sleeper (2+2),18:30,23:00,2.5,500.0,4h 30m,54 Seats,Kolkata to Durgapur (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-d...
976,Maharani Travels,A/C Seater / Sleeper (2+1),21:05,01:30,None,675.0,4h 25m,15 Seats,Kolkata to Durgapur (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-d...

Data cleaning

In [26]:
final_df['Price'] = final_df['Price'].str.replace('â‚¹','')

final_df['Price'] = final_df['Price'].str.replace(',','').astype(float)

final_df['Price'].fillna(0)

0      700.0
1      899.0
2      850.0
3      600.0
4      699.0
       ...
972    650.0
973    675.0
974    450.0
975    500.0
976    675.0
Name: Price, Length: 977, dtype: float64

In [30]:
import numpy as np

# Convert Rating and any other numeric columns to proper float (if needed)
final_df["Rating"] = pd.to_numeric(final_df["Rating"], errors='coerce')
final_df["Price"] = pd.to_numeric(final_df["Price"], errors='coerce')  # Optional, if needed



# Now convert to list of rows
data = final_df.values.tolist()

In [31]:
final_df['Rating']

0      4.4
1      4.5
2      4.1
3      2.8
4      4.0
      ...
972    4.0
973    2.0
974    2.9
975    2.5
976    NaN
Name: Rating, Length: 977, dtype: float64

In [32]:
final_df['Rating'] = final_df['Rating'].astype(str).str.replace('new', '')
final_df['Rating'] = final_df['Rating'].str.strip()
final_df['Rating'] = final_df['Rating'].str.split().str[0]
final_df['Rating'] = pd.to_numeric(final_df['Rating'],errors='coerce')
final_df['Rating'].fillna(0)

0      4.4
1      4.5
2      4.1
3      2.8
4      4.0
      ...
972    4.0
973    2.0
974    2.9
975    2.5
976    0.0
Name: Rating, Length: 977, dtype: float64

In [45]:
final_df=final_df[final_df['Price']<=7000]


final_df = final_df.replace(np.nan, None)
final_df['TotalDuration'] = final_df['TotalDuration'].fillna('Unknown')

path ="data\final_bus_details.csv"

Create a mysql database

In [16]:
!pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\loges\appdata\roaming\python\python312\site-packages (1.1.1)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pymysql
import mysql.connector
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:1234@127.0.0.1:3306/redbus")
#final_df.to_sql('bus_details', con=engine, if_exists='replace', index=False)


conn = engine.connect().connection
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS bus_details (
        ID INT AUTO_INCREMENT PRIMARY KEY,
        Bus_Name VARCHAR(255) NOT NULL,
        Bus_Type VARCHAR(255) NOT NULL,
        Start_time VARCHAR(255) NOT NULL,
        End_Time VARCHAR(255) NOT NULL,
        Rating FLOAT NULL,
        Price FLOAT NULL,
        Total_Duration VARCHAR(255) NOT NULL,
        Seats_available VARCHAR(255) NOT NULL,
        Route_Name VARCHAR(255) NOT NULL,
        Route_link VARCHAR(255) NOT NULL
        
    )
''')

0

In [47]:
insert_query = '''
    INSERT INTO bus_details (
        Bus_Name, Bus_Type, Start_time, End_Time, Rating, Price, Total_Duration,
        Seats_available , Route_Name,Route_link
    )
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
'''


data = final_df.values.tolist()
cursor.executemany(insert_query, data)
conn.commit()
print(f"{cursor.rowcount} rows inserted successfully.")

976 rows inserted successfully.